.animated-switch-wrapper {
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: calc(100vh - 100px);

    .page{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 20px;
    }

    &::after{
      content: "dummy!!";
      display: block;
      width: 100%;
      height: 100vh;
      background: dimgrey;
      color: white;
      font-size: 20px;
    }
  }
}
