/* common */

@charset "UTF-8";
@import "myreset";

*{
  box-sizing: border-box;
}

body{
  font-family: monospace;
  color: #555;
  text-align: center;

  margin-top: 100px
}
h1, h2, p{
  padding: 0.4em 0;
}
.success{
  color: turquoise;
}
.error{
  color: crimson;
}

ul{
  list-style: none;
  li{
    display: inline-block;
  }
}

a{
  text-decoration: none;
}

.animated-switch-wrapper {
  position: relative;
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: calc(100vh - 100px);
  }
}

.page{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
