.Bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: [js] window.innerHeight */

  // background-image: url("/assets/img/mohu-pc.png");
  background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  pointer-events: none;
  z-index: -1;

  transform: scale(1.2);
}
