.Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em calc(1em + 2vw);
  background: var(--kiki-pink);
  color: white;
  border: 1px solid var(--kiki-pink);
  border-radius: 4px;
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;

  transition: 0.3s ease;

  @media screen and (min-width: 768px){
    &:hover{
      background: #fff;
      color: var(--kiki-pink);
    }
  }
}
