.Menu{
  z-index: 999;

  .Btn{
    transition: 0.3s ease;
  }
  a.active .Btn{
    // react-router -> NavLink で 現在ルートの a に .active が付く。
    filter: grayscale(0.2) brightness(1.1) opacity(0.6) blur(1px);
    pointer-events: none;
  }

  &.mobile{
    font-size: 1rem;

    .switch{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    .container{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      transition: 0.3s ease 0.1s;

      &.hide{
        visibility: hidden;
        opacity: 0;
        transform: scale(1.2);
      }

      .Btn{
        width: 200px;
      }
    }
  }

  &.lg{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    width: 100%;
    height: 200px;
    font-size: 1.2rem;
    background: rgb(195, 148, 207);
  }
}
