.Menu{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 768px){
    align-items: flex-start;
  }

  .Btn{
    transition: 0.3s ease;
  }
  a.active .Btn{
    // react-router -> NavLink で 現在ルートの a に .active が付く。
    filter: grayscale(0.2) brightness(1.1) opacity(0.6) blur(1px);
    pointer-events: none;
  }

  font-size: 0.9rem;
  @media screen and (min-width: 768px){
    font-size: 1.2rem;
  }
}
