.Nav{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  height: 120px;
  background: rgb(203, 249, 255);
  color: #000;
  z-index: 999;

  .Btn{
    transition: 0.3s ease;
  }
  a.active .Btn{
    // react-router -> NavLink で 現在ルートの a に .active が付く。
    filter: grayscale(0.2) brightness(1.1) opacity(0.6) blur(1px);
    pointer-events: none;
  }

  font-size: 0.9rem;
  @media screen and (min-width: 768px){
    font-size: 1.2rem;
  }
}
