.Home{

  .first-view{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #333;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(214, 88, 118, 1);
  }

  .link-list{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto 30vh;

    &-item{
      margin-bottom: 4px;
    }
  }
}
