.Menu{
  // background: #fff;

  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  color: #000;
  z-index: 999;

  .Btn{
    transition: 0.3s ease;

    svg.svg-inline--fa{
      margin: 0 0.3em;
      margin-left: -0.4em;
    }
  }

  a.active .Btn{
    // react-router -> NavLink で 現在ルートの a に .active が付く。
    // filter: blur(2px);
    // transform: scale(1.02);
    opacity: 0.5;
    pointer-events: none;
  }

  &.sm{
    width: 100%;
    font-size: 1rem;

    .Btn{
      margin: 1px;
      width: 200px;
      height: 66px;
    }

    .switch{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      font-size: 38px;
      color: var(--kiki-pink);
      padding: 0.5em 0.4em;
      cursor: pointer;
    }

    .container{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      transition: 0.4s ease;

      .link-list{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
      }

      &.hide{
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transform: scale(1.1);
        // transition: 0.4s ease 0.1s;
        // transition: 0.4s ease;
      }

      &.show{
        .link-list{
          @for $i from 1 through 6 {
            &-item:nth-child(#{$i}) {
              animation: slide-in ease both;
              animation-duration: $i * 0.4s;
              animation-delay: $i * 0.04s;
              @keyframes slide-in{
                from{
                  transform: translateY(9px * $i);
                  opacity: 0;
                }
                to{
                  transform: translateY(0px);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  &.md{

    top: 2px;
    left: 0;
    right: 1px;
    bottom: auto;

    .container{
      width: 100%;
      height: auto;

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.2rem;
    }

    .link-list{

      &-item{
        margin: 0 1px;
        // border-bottom: 1px solid var(--kiki-pink);
        &:first-child{
          // border-top: 1px solid var(--kiki-pink);
        }
      }
      .Btn{
        width: 100%;
        // height: 66px;
        // border-radius: 33px;
      }
    }
  }
}
