.WebSite{

  background: rgba(0, 0, 0, 0.4);

  .page-title{
    color: white;
  }

  p{
    text-align: center;
  }
  .Btn{
    margin: 1em auto;
    width: 80%;
  }

  .Site{
    margin-bottom: 100px;
    background: #fff;
    overflow: hidden;
    img{
      display: block;
    }
  }

  @media screen and (min-width: 768px){
    .Site{
      .flex{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        & > div{
          width: 50%;
        }
      }

      &:nth-child(odd){
        .flex{
          flex-flow: row-reverse;
        }
      }
    }
  }
}
